* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /*color: white;*/
}

body {
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   position: relative
}

.logo {
   color: white;
}

div.nav-container {
   background-color: #3A3F41
}

.upper-nav {
   background-color: #3A3F41;
   margin: 0 auto;
   height: 50px;
   width: 76.3%;
   line-height: 50px;
   position: relative
}

.lower-nav {
   width: 100%
}

.logo {
   padding: 0 0 0 10px;
   text-transform: uppercase;
   margin: 10px 30px;
   letter-spacing: 2px;
   font-size: 14px;
   font-weight: lighter
}

form {
   display: inline-block;
   position: absolute;
   top: 2px;
   right: 10px;
   font-size: 20px;
   line-height: 40px;
}

input[type="text"] {
   width: 290px;
   padding: 6px 10px 6px 30px;
   color: #e3e3e3;
   font-weight: 300;
   background-color: transparent;
   display: inline-block;
   height: 40px;
   padding: 0 .875rem;
   border: none;
   background-color: #2B2B2B;
   text-align: left;
   font-family: Open Sans;
   font-size: 12px;
   border-radius: 3px;
   -webkit-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}

input[type="text"]::-webkit-input-placeholder {
   color: #F4F4F4;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   font-family: 'Open sans'
}

input[type="text"]::-moz-placeholder {
   color: #F4F4F4;
   font-size: 10px;
   text-transform: uppercase;
   font-family: 'Open sans'
}

input[type="text"]:-ms-input-placeholder {
   color: #F4F4F4;
   font-size: 10px;
   text-transform: uppercase;
   font-family: 'Open sans'
}

input[type="text"]::placeholder {
   color: #F4F4F4;
   font-size: 10px;
   text-transform: uppercase;
   font-family: 'Open sans'
}

nav ul {
   list-style: none;
   padding-left: 0;
   text-align: center;
   margin: 0 auto;
   width: 75%
}

nav ul li {
   box-shadow: 0 2px 2px #e3e3e3;
   display: inline-block;
   width: 14.2%;
   border-right: 1px solid #e3e3e3;
   height: 40px;
   line-height: 40px;
   font-size: 11px;
   font-weight: 500;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: #adadad;
   background-color: white;
}

nav ul li:last-child {
   border-right: 2px solid transparent
}

nav ul li a {
   color: inherit;
   text-decoration: none;
}

nav ul li a:hover {
   text-decoration: none
}

.songs-container {
   width: 100%;
   background-color: #F4F4F4;
   padding: 50px 0;
}

.list-container {
   margin: 0 auto;
   width: 75%;
   text-align: center;
}

.list-item {
   display: inline-block;
   padding: 10px;
   width: 214px;
   height: 132px;
   margin: 8px;
   background: white;
   border: 1px solid #e3e3e3;
}

.song-details {
   display: inline-block;
   width: 100%;
   padding: 10px 3px;
}

.song-details .user-image {
   display: block;
   width: 24px;
   height: 24px;
   margin-top: 4px;
   margin-right: 10px;
   border-radius: 100%;
   float: left;
}

.song-details a {
   font-size: 12px;
   text-decoration: none;
   color: #2B2B2B;
   display: block;
   font-size: 11px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: left
}

.song-details a:hover {
   text-decoration: none
}

a.user-name {
   color: #7981B9
}


/*PLAYER SYLES --------------- */

.player {
   background-color: white;
   box-shadow: 0 2px 2px 2px #F4F4F4;
   width: 100%;
   position: fixed;
   bottom: 0px;
   left: 50%;
   -webkit-transform: translateX(-50%);
   transform: translateX(-50%)
}

.player-container>* {
   color: #3A3F41;
}

.player-container {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 60px;
   width: 75%;
   margin: 0 auto;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   background-color: white;
}

.player-song-info {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   font-size: 11px;
   color: #222
}

.player-song-title {
   color: #222
}

.player-song-img {
   width: 30px;
   height: 30px;
}

.player-song-description {
   padding: 0 15px;
   width: 200px;
}

.player-song-title {
   overflow: hidden;
   white-space: nowrap;
   display: block;
   text-overflow: ellipsis
}

.player-control {
   font-size: 16px;
   padding: 0 15px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   width: 370px;
   -ms-flex-pack: distribute;
   justify-content: space-around
}

.player-control i {
   color: #3A3F41;
   cursor: pointer
}

.player-seek-bar {
   width: 400px;
   height: 2px;
   background-color: #3A3F41
}

.player-time {
   display: inline-block;
   width: 70px;
   font-size: 13px;
}

.active {
   color: #3ACCF3 !important;
}

input[type=range] {
   -webkit-appearance: none;
   margin: 10px 0;
}

input[type=range]:focus {
   outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
   width: 100%;
   height: 2px;
   cursor: pointer;
   -webkit-animation: 0.2s;
   animation: 0.2s;
   box-shadow: 0px 0px 0px #000000;
   background: #2497E3;
   border-radius: 1px;
   border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
   box-shadow: 0px 0px 0px #000000;
   border: 1px solid #2497E3;
   height: 11px;
   width: 11px;
   border-radius: 25px;
   background: #A1D0FF;
   cursor: pointer;
   -webkit-appearance: none;
   margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
   background: #2497E3;
}

input[type=range]::-moz-range-track {
   width: 100%;
   height: 2px;
   cursor: pointer;
   animation: 0.2s;
   box-shadow: 0px 0px 0px #000000;
   background: #2497E3;
   border-radius: 1px;
   border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
   box-shadow: 0px 0px 0px #000000;
   border: 1px solid #2497E3;
   height: 11px;
   width: 11px;
   border-radius: 25px;
   background: #A1D0FF;
   cursor: pointer;
}

input[type=range]::-ms-track {
   width: 100%;
   height: 2px;
   cursor: pointer;
   animation: 0.2s;
   background: transparent;
   border-color: transparent;
   color: transparent;
}

input[type=range]::-ms-fill-lower {
   background: #2497E3;
   border: 0px solid #000000;
   border-radius: 2px;
   box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
   background: #2497E3;
   border: 0px solid #000000;
   border-radius: 2px;
   box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
   box-shadow: 0px 0px 0px #000000;
   border: 1px solid #2497E3;
   height: 11px;
   width: 11px;
   border-radius: 25px;
   background: #A1D0FF;
   cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
   background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
   background: #2497E3;
}